{% extends 'hms_app/base.html' %}
{% load static %}

{% block body_block %}
<div class="jumbotron">
    {% if signed_up %}
    <h1>Thank you for signing up!</h1>
    {% else %}
    <h1 class="display-4">Sign Up for Admins</h1>
    <p class="lead">Fill out the necessary fields to sign up.</p>
    <hr class="my-4">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        <input type="submit" value="Sign Up">
    </form>
    {% endif %}
</div>
{% endblock %}